<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Course List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
    .pagination-centered {text-align: center;}
    .disabled {pointer-events: none;opacity: 0.5;}
    .pointer-disabled {pointer-events: none;}


    </style>
</head>
<body>

<div class="container-fluid">
    <h3> Search Course</h3>
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/courses/list}" method="GET">
                <div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="id"
                                   class="col-form-label">ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" th:name="id" id="id" placeholder="ID"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name:&nbsp;</label>
                            <input type="text" th:name="name" id="name" placeholder="Name"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="page-title">
        <h2>
            <span class="fa fa-arrow-circle-o-left"></span>Course List
        </h2>
    </div>
    <div class="row">
        <table class="table datatable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.name}"></td>
                <td><a th:href="@{/courses/edit/{id}(id=${course.id})}" class="btn btn-primary"><i
                        class="fas fa-user-edit ml-2"></i></a></td>
                <td><a th:href="@{/courses/delete/{id}(id=${course.id})}" class="btn btn-primary"><i
                        class="fas fa-user-times ml-2"></i></a></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="form-group col-md-1">
                <select class="form-control pagination" id="pageSizeSelect">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                </select>
            </div>
            <div th:if="${courses.totalPages != 1}"
                 class="form-group col-md-11 pagination-centered">
                <ul class="pagination">
                    <li th:class="${courses.number == 0} ? disabled">
                        <a class="pageLink"
                           th:href="@{/courses/list/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                    </li>
                    <li th:class="${courses.number == 0} ? disabled">
                        <a class="pageLink"
                           th:href="@{/courses/list/(pageSize=${selectedPageSize}, page=${courses.number})}">&larr;</a>
                    </li>
                    <li
                            th:class="${courses.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="pageLink" th:href="@{/courses/list/(pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                    </li>
                    <li
                            th:class="${courses.number + 1 == courses.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/courses/list/(pageSize=${selectedPageSize}, page=${courses.number + 2})}">&rarr;</a>
                    </li>
                    <li
                            th:class="${courses.number + 1 == courses.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/courses/list/(pageSize=${selectedPageSize}, page=${courses.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-1">
                <form action="#" th:action="@{/courses}" method="GET" id="course-home-form">
                    <a href="javascript:{}"
                       onclick="document.getElementById('course-home-form').submit(); return false;">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
		changePageAndSize();
    });

function changePageAndSize() {
	$('#pageSizeSelect').change(function(evt) {
		window.location.replace("/courses/list?pageSize=" + this.value + "&page=1");
	});
}
	/*]]>*/


</script>

</body>
</html>